.item {
	background-color: #fff;
	padding: 1em;
	border: 2px solid black;
	margin-bottom: 1em;
	border-radius: 5px;
}

.button:disabled {
	background-color: grey;
	color: purple;
}

.item__infos {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.item__infos > div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.item__infos > div:last-child {
	text-align: right;
}

.item__infos b {
	margin: 0;
	font-size: 0.9em;
}

.item__infos p {
	margin: 0;
	font-size: 0.9em;
}
